/* --------------------------
   VARIABLES GENERALES (Colores)
   -------------------------- */
   :root {
    --color-primario: #19535F;
    --color-secundario: #0B7A75;
    --color-terciario: #D7C9AA;
    --color-acento: #7B2D26;
}

/* --------------------------
   ESTILOS GENERALES (Para ambas páginas)
   -------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo */
.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 15px; /* Centrado con espacio debajo */
}

/* Estilos generales para botones */
button {
    flex: 1; 
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* --------------------------
   ESTILOS ESPECÍFICOS PARA INDEX.HTML
   -------------------------- */
#pagina-index {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    background-image: url('../img/logo2.png'); /* Fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    #pagina-index {
    background-image: url("img/logo2"); /* Ruta corregida */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

}

#pagina-index h2 {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    text-align: center;
}

#pagina-index form {
   background-color: #0B7A75;
    padding: 25px;
    border: 3px solid var(--color-acento);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin-top: 30px; /* Espacio superior */
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
}
/* --------------------------
   ESTILOS ESPECÍFICOS PARA REGISTRO.HTML
   -------------------------- */
#pagina-registro {
    background-color: #0B7A75;
    color: white;
     background-image: url(""); /* Fondo */
}

#pagina-registro h2 {
    color: var(--color-acento);
    text-align: center;
}

#pagina-registro form {
    background-color: #0B7A75;
    padding: 25px;
    border: 3px solid var(--color-acento);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin-top: 30px; /* Espacio superior */
}

#pagina-registro input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-terciario);
    border-radius: 5px;
}
