
/* --------------------------
   ESTILOS GENERALES (Para ambas páginas)
   -------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Logo */
.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 15px; 
}


/* Estilos generales para botones */
button {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  
}

/* --------------------------
   ESTILOS ESPECÍFICOS PARA INDEX.HTML
   -------------------------- */

#pagina-index {
    background-color:  #D7C9AA;
    color:  #D7C9AA;
    background-image: url("../img/logo2.png"); /* Fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#pagina-index form {
    background-color: #0B7A75;
    padding: 25px;
    border: 3px solid #7B2D26;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 4px 4px 12px rgba(140, 67, 67, 0.2);
    gap: 15px;
    margin-top: 30px; /* Espacio superior */
    
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
/* --------------------------
   ESTILOS ESPECÍFICOS PARA REGISTRO.HTML
   -------------------------- */
#pagina-registro {
    background-color: #0B7A75;
    color: white;
    background-image: url("../img/logo2.png"); /* Fondo */

}

#pagina-registro h2 {
    color:  #7B2D26;
    text-align: center;
}

#pagina-registro form {
    background-color: #0B7A75;
    padding: 25px;
    border: 3px solid  #7B2D26;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin-top: 30px; /* Espacio superior */
}

#pagina-registro input {
    width: 100%;
    padding: 10px;
    border: 2px solid  #D7C9AA;
    border-radius: 5px;
}

/* --------------------------
   ESTILOS ESPECÍFICOS PARA LA PRESENTACION
   -------------------------- */


#presentation {
    background-color:  #D7C9AA;
    color:  #D7C9AA;
    background-image: url("../img/logo2.png"); /* Fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif; /*estilo de letra*/
}

#who-we-are {
    background-color: #0B7A75;
    padding: 25px;
    border: 3px solid #7B2D26;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin-top: 30px;
}

#who-we-are .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#who-we-are .logo img {
    width: 108px;
    height: auto;
    margin-left: -65px; /* Mueve la imagen 65px más a la izquierda */
}

#who-we-are .logo h1 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 850; /*controla lo negrita o el grosor de un texto*/
}

#who-we-are article {
    display: flex;
    align-items: center;
    gap: 20px;
}

#who-we-are img {
    width: 90px;
    height: auto;
}

#who-we-are p {
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


    /*--------------------------
   ESTILOS ESPECÍFICOS PARA LA PERFIL
   -------------------------- */

#pagina-perfil {
    background-image: url("../img/logo2.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


#publicaciones {
    background-color: #0B7A75;
    padding: 5px;
    border: 3px solid #7B2D26;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 15px;
    overflow-y: auto;
    max-height: 500px;
    overflow-y: auto;

}
/*modifity-user*/

h1 {
    color: #D7C9AA;
    text-align: center;

}

#title {
    color: #D7C9AA;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.change {
    color: #0B7A75;
}

.modify-user .form {
    border: solid 1px black;
    width: 450px;
    background-color: #0B7A75;
}
.modify-user .form .form-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.modify-user{
    background-image: url("../img/logo2.png"); /* Fondo */
}

.modify-user .form .form-article .button {
    background-color: #0B7A75;
    color: white;
}

/* compartir experiencia */

.publicacion-html {
    background-image: url("../img/logo2.png"); /* Fondo */
}

.form-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.form-experience {
    background-color: #0B7A75;
    color: white;
}

.form-experience .electrodomestic {
    border: solid 1px black;
    width: 450px;
    background-color: #0B7A75;
}