
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-terciario, #D7C9AA); 
    color: var(--color-primario, #19535F); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url("logo2.png"); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen ocupe toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Hace que el fondo ocupe todo el viewport */

}
.logo {
    width: 150px; /* Ajuste del tamaño */
    height: auto; /* Mantener proporciones */
    display: block;
    margin: 0 auto 15px; /* Centrado con espacio debajo */
}


h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    position: absolute;
    top: 10px;
}

form {
    background-color: #0B7A75;
    padding: 25px;
    border: 3px solid var(--color-acento);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin-top: 30px; /* Espacio superior */
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--color-primario);
    border-radius: 5px;
}


.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 350px;
    padding: 20px;
    background-color: var(--color-terciario); 
    border: 3px solid var(--color-acento);
    border-radius: 8px;
}

button {
    flex: 1; 
    padding: 12px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}






